<style> 
    ::-webkit-scrollbar{
        width: 0px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track{
        background: none;
    }
    ::-webkit-scrollbar-thumb { 
        background: rgb(255 255 255 / 10%);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover { 
        background: rgb(255 255 255 / 15%);
    }
</style>
